div{
    color:#57537F;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color:#d6c6e2;
    color:#815983;
}
h3{
    background-color:#d6c6e2;
    color:#815983;
}
h4{
    background-color:#d6c6e2;
    color:#815983;
}
button{
    color:#57537F;
}